<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Name</h1>
        <p>This is the info page: here's some information about me!</p>
        <h2>Tagline</h2>
    </body>
</html>
